/.DS_Store
/.env
/.npmrc
/.yarn
/artifacts
/Cargo.lock
/node_modules
/package-lock.json
/programs/*/tests/fixtures
/yarn-error.log
/yarn.lock
/.prettierrc
.vscode
/target
tests/target
tests/Cargo.lock
